<div class="chats">
    <div class="card" >
        <div class="card-body">
            <div class="containt row" style="border-bottom: 1px solid #e9e9e9;">
                <div class="profile col-md-1" style="margin-right: 10px;">
                    <img  class="dp" src="assets/p1.jpg" alt="">
                    <img class="online" src="assets/new-moon.png" alt="">
                </div>
                <div class="name col-md-6">
                    <p style="font-weight: bold;">Jack Winbow <br><span style="font-size: .7rem; font-weight: lighter !important;">Online-Last seen 9:23pm</span></p>
                </div>
                <div class="date col-md-4" style="text-align: right; margin-left: 2.6rem; margin-top: 0.6rem;">
                    <img src="assets/telephone.png" alt="" style="height: 1.5rem; width: 1.5rem; margin-right: 2rem; cursor: pointer;">
                    <img src="assets/video-camera.png" alt="" style="height: 1.5rem; width: 1.5rem; margin-right: 2rem; cursor: pointer;">
                    <img src="assets/more.png" alt="" style="height: 1.5rem; width: 1.5rem; text-align: right; cursor: pointer;">
                </div>
            </div>
            <div class="row chat">
                <p>Hey there! <br><span style="font-weight: lighter; font-size: .7rem;">Today, 8:30am</span></p>
            </div> 
            <div class="row chat">
                <p>How are you? <br><span style="font-weight: lighter; font-size: .7rem;">Today, 8:31am</span></p>
            </div>

            <div class="row ">
                <div class="col-md-8"></div>
                <div class="com-md-3 chat1" style="margin-left: 5.5rem;">
                    <p>Hello! <br><span style="font-weight: lighter; font-size: .7rem;">Today, 9:40am</span></p>
                </div>  
            </div>
            <div class="row ">
                <div class="col-md-6"></div>
                <div class="com-md-3 chat1" style="margin-left: 4.5rem;">
                    <p>I am fine and How about you? <br><span style="font-weight: lighter; font-size: .7rem; text-align: right !important;;">Today, 9:41am</span></p>
                </div>  
            </div>
            <div class="row chat">
                <p>I am doing well, can we meet tomorrow? <br><span style="font-weight: lighter; font-size: .7rem;">Today, 9:55am</span></p>
            </div>
            <div class="row" style="border-bottom: 1px solid #e9e9e9; padding: 1rem;">
                <div class="col-md-8"></div>
                <div class="com-md-3 chat1" style="margin-left: 6.5rem;">
                    <p>Yeh, Sure! <br><span style="font-weight: lighter; font-size: .7rem;">Today, 9:60am</span></p>
                </div>  
            </div>
        </div>
        <div class="type">
            <div class="row">
                <input type="text" size="72" placeholder="Type your message here..." class="search" />
                <!-- <img class="attachments" src="assets/attachments.png" alt="attachments">
                <img class="" src="assets/camera.png" alt="">
                <img class="" src="assets/happy.png" alt="">
                <img class="" src="assets/voice.png" alt=""> -->
            </div>
        </div>
    </div>
</div>