<div class="header">
    <div class="profile">
        <img  class="dp" src="assets/dp.jpg" alt="">
        <img class="online" src="assets/new-moon.png" alt="">
    </div>
    <div class="menu">
        <ul>
            <li><img class="home" src="assets/home.png" alt=""></li>
            <li class="messenger1"><img class="messenger" src="assets/messenger.png" alt=""></li>
            <li><img class="bell" src="assets/bell.png" alt=""></li>
            <li><img class="settings" src="assets/settings.png" alt=""></li>
        </ul>
    </div>
    <div class="footer">
        <ul>
            <li><img class="home" src="assets/logout.png" alt=""></li>
        </ul>
    </div>
</div>